.alltasks {
  height: 100%;
  width: 100%;
}
.task-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 400px));
  justify-content: space-between;
}

.task-list-container {
  padding: 0 20px;
  margin-top: 20px;
}

.filter-container {
  margin: 20px;
}
