<div class="alltasks">
  <div class="filter-container">
    <label for="sortselect">Sort By : </label>
    <select id="sortselect" (input)="applySort($event)">
      <option value="status" selected>Status</option>
      <option value="priority">Priority</option>
      <option value="due-date">Due-Date</option>
    </select>
  </div>
  <div class="task-list-container">
    <div class="task-list" *ngIf="this.sortOn == 'status'">
      <app-task-list
        [heading]="'To-Do'"
        [color]="'green'"
        [expanded]="true"
        [tasks]="filteredTasks[0]"
      />
      <app-task-list
        [heading]="'In-Progress'"
        [color]="'orange'"
        [expanded]="true"
        [tasks]="filteredTasks[1]"
      />
      <app-task-list
        [heading]="'Completed'"
        [color]="'red'"
        [expanded]="true"
        [tasks]="filteredTasks[2]"
      />
    </div>
    <div class="task-list" *ngIf="this.sortOn == 'priority'">
      <app-task-list
        [heading]="'Low'"
        [color]="'green'"
        [expanded]="true"
        [tasks]="filteredTasks[0]"
      />
      <app-task-list
        [heading]="'Medium'"
        [color]="'orange'"
        [expanded]="true"
        [tasks]="filteredTasks[1]"
      />
      <app-task-list
        [heading]="'High'"
        [color]="'red'"
        [expanded]="true"
        [tasks]="filteredTasks[2]"
      />
    </div>
    <div class="task-list" *ngIf="this.sortOn == 'due-date'">
      <div *ngFor="let item of filteredDates">
        <app-task-list
          [heading]="item.date"
          [color]="'orange'"
          [tasks]="item.tasks"
        />
      </div>
    </div>
  </div>
</div>
