.navbar {
  display: flex;
  align-items: center;
  width: 100vw;
  padding: 1rem;
  justify-content: space-between;
  background-color: bisque;
}

.navbar-right {
  display: flex;
  align-items: center;

  gap: 1rem;
}

.navbar h1 {
  cursor: pointer;
}
/* LOGOUT BUTTON CSS */

/* ADDTASK BUTTON CSS */

.addbtn {
  position: relative;
  width: 150px;
  height: 40px;
  cursor: pointer;
  border-radius: 20%;
  overflow: hidden;
  display: flex;
  align-items: center;
  border: 1px solid #34974d;
  background-color: #3aa856;
}

.addbtn,
.addbtn__icon,
.addbtn__text {
  transition: all 0.3s;
}

.addbtn .addbtn__text {
  transform: translateX(30px);
  color: #fff;
  font-weight: 600;
}

.addbtn .addbtn__icon {
  position: absolute;
  transform: translateX(109px);

  height: 100%;
  width: 39px;
  background-color: #34974d;
  display: flex;
  align-items: center;
  justify-content: center;
}

.addbtn .svg {
  width: 30px;
  stroke: #fff;
}

.addbtn:hover {
  background: #34974d;
}

.addbtn:hover .addbtn__text {
  color: transparent;
}

.addbtn:hover .addbtn__icon {
  width: 148px;
  transform: translateX(0);
}

.addbtn:active .addbtn__icon {
  background-color: #2e8644;
}

.addbtn:active {
  border: 1px solid #2e8644;
}
