<div class="task-component">
  <div class="task-summary" (click)="toggleDetails()">
    <h3 class="task-title">Task Name: {{ this.details.name }}</h3>
    <p class="task-priority">Priority: {{ this.details.priority }}</p>
  </div>
  <div class="task-details">
    <!-- <button class="history-btn">History</button> -->
    <button>edit</button>
    <form class="taskform" (click)="handleSubmit($event)">
      <div class="form__group field">
        <input
          type="input"
          id="taskname"
          name="name"
          class="form__field"
          placeholder="Name"
          required=""
          [value]="this.details.name"
          (input)="inputChange($event)"
        />
        <label for="taskname" class="form__label">Name</label>
      </div>
      <div class="form__group field">
        <input
          type="input"
          id="taskdesc"
          name="description"
          class="form__field"
          placeholder="Description"
          required=""
          [value]="this.details.description"
          (input)="inputChange($event)"
        />
        <label for="taskdesc" class="form__label">Description</label>
      </div>
      <div class="form__group field">
        <input
          type="date"
          id="taskduedate"
          name="duedate"
          class="form__field"
          required=""
          [value]="this.details.duedate"
          (input)="inputChange($event)"
        />
        <label for="taskduedate" class="form__label">Due Date</label>
      </div>

      <div class="priority-buttons" (input)="inputChange($event)">
        <p>Priority</p>
        <label class="radio-button">
          <input type="radio" name="option" value="low" />
          <div class="radio-circle"></div>
          <span class="radio-label">Low</span>
        </label>
        <label class="radio-button">
          <input type="radio" name="option" value="medium" />
          <div class="radio-circle"></div>
          <span class="radio-label">Medium</span>
        </label>
        <label class="radio-button">
          <input type="radio" name="option" value="high" />
          <div class="radio-circle"></div>
          <span class="radio-label">High</span>
        </label>
      </div>
    </form>
  </div>
</div>
