<div class="task-component">
  <button (click)="deleteTask()">DEL</button>
  <button [routerLink]="['/history', this.details._id]">HIS</button>
  <div class="task-summary" (click)="toggleDetails()">
    <h3 class="task-title">{{ this.details.name }}</h3>
    <p class="task-priority">Priority: {{ this.details.priority }}</p>
  </div>
  <div class="task-details" [ngClass]="this.isExpanded ? 'show' : ''">
    <!-- <button class="history-btn">History</button> -->
    <div class="taskoptions">
      <div *ngIf="!this.isEditable; else discardbtn">
        <button class="taskbtn" (click)="toggleEditable()">&#x2710;</button>
      </div>
      <ng-template class="editoptions" #discardbtn>
        <button class="taskbtn" style="color: green" (click)="updateTask()">
          &#10004;
        </button>
        <button class="taskbtn" (click)="discardChanges()">&#10005;</button>
      </ng-template>
    </div>
    <form class="taskform" (click)="handleSubmit($event)">
      <div class="form__group field">
        <input
          ngModel="{{ this.tempdetails.name }}"
          type="input"
          id="taskname"
          name="name"
          class="form__field"
          placeholder="Name"
          required=""
          [disabled]="!this.isEditable"
          (input)="inputChange($event)"
        />
        <label for="taskname" class="form__label">Name</label>
      </div>
      <div class="form__group field">
        <input
          type="input"
          id="taskdesc"
          name="description"
          class="form__field"
          placeholder="Description"
          required=""
          [disabled]="!this.isEditable"
          ngModel="{{ this.tempdetails.description }}"
          (input)="inputChange($event)"
        />
        <label for="taskdesc" class="form__label">Description</label>
      </div>
      <div class="form__group field">
        <input
          type="date"
          id="taskduedate"
          name="duedate"
          class="form__field"
          required=""
          [disabled]="!this.isEditable"
          ngModel="{{ this.tempdetails.duedate }}"
          (input)="inputChange($event)"
        />
        <label for="taskduedate" class="form__label">Due Date</label>
      </div>

      <div
        *ngIf="!this.isEditable; else selectstatus"
        class="form__group field"
      >
        <input
          type="input"
          id="taskstatus"
          name="status"
          class="form__field"
          placeholder="Status"
          required=""
          [disabled]="!this.isEditable"
          ngModel="{{ this.tempdetails.status }}"
          (input)="inputChange($event)"
        />
        <label for="taskstatus" class="form__label">Status</label>
      </div>
      <ng-template #selectstatus>
        <div class="priority-buttons">
          <p>Status</p>
          <label class="radio-button">
            <input
              type="radio"
              name="status"
              value="To-Do"
              [checked]="this.details.status == 'To-Do'"
              (input)="inputChange($event)"
            />
            <div class="radio-circle"></div>
            <span class="radio-label">To-do</span>
          </label>
          <label class="radio-button">
            <input
              type="radio"
              name="status"
              value="In-Progress"
              [checked]="this.details.status == 'In-Progress'"
              (input)="inputChange($event)"
            />
            <div class="radio-circle"></div>
            <span class="radio-label">In-Progress</span>
          </label>
          <label class="radio-button">
            <input
              type="radio"
              name="status"
              value="Completed"
              [checked]="this.details.status == 'Completed'"
              (input)="inputChange($event)"
            />
            <div class="radio-circle"></div>
            <span class="radio-label">Completed</span>
          </label>
        </div>
      </ng-template>

      <div
        *ngIf="!this.isEditable; else selectpriority"
        class="form__group field"
      >
        <input
          type="input"
          id="taskpriority"
          name="priority"
          class="form__field"
          required=""
          [disabled]="true"
          ngModel="{{ this.tempdetails.priority }}"
        />
        <label for="taskpriority" class="form__label">Priority</label>
      </div>

      <ng-template #selectpriority>
        <div class="priority-buttons">
          <p>Priority</p>
          <label class="radio-button">
            <input
              type="radio"
              name="priority"
              value="Low"
              (input)="inputChange($event)"
              [checked]="this.details.priority == 'Low'"
              [disabled]="!this.isEditable"
            />
            <div class="radio-circle"></div>
            <span class="radio-label">Low</span>
          </label>
          <label class="radio-button">
            <input
              type="radio"
              name="priority"
              value="Medium"
              (input)="inputChange($event)"
              [checked]="this.details.priority == 'Medium'"
              [disabled]="!this.isEditable"
            />
            <div class="radio-circle"></div>
            <span class="radio-label">Medium</span>
          </label>
          <label class="radio-button">
            <input
              type="radio"
              name="priority"
              value="High"
              (input)="inputChange($event)"
              [checked]="this.details.priority == 'High'"
              [disabled]="!this.isEditable"
            />
            <div class="radio-circle"></div>
            <span class="radio-label">High</span>
          </label>
        </div>
      </ng-template>
    </form>
  </div>
</div>
